body {
  font-family: arial, helvetica, sans-serif;
  font-size: 14px;
  min-width: 150px;
  padding: 0.25em 1em 1em;
}

p { text-align: center; }

div#format {
  font-size: 18px;
  font-weight: 500;
  background-color: #48ad48;
}

div#format, div#button {
  display: flex;
  justify-content: center;
}

fieldset
{
  margin-top: 5px;
  margin-bottom: 5px;
}

button.apply-format {
  background-color: #3710a5;
	border: 2px solid #fcff61;
	color: whitesmoke;
	padding: 1em 1.5em;
	text-align: center;
	text-decoration: none;
	font-size: 1em;
	display: inline-block;
	width: 100%;
	border-radius: 5px;
  box-shadow: 3px 3px 8px 0 #000; /* h-offset v-offset blur spread color */
  
  font-size: 12px;
  margin-top: 5px;
}

button.options {
  font-size: 12px;
  border: 0;
  border-radius: 2px;
  padding: 4px 8px;
  margin-top: 15px;
  background: rgba(12, 12, 13, 0.1);
}

button.options:hover {
  background: rgba(12, 12, 13, 0.2);
}

button.options:active {
  background: rgba(12, 12, 13, 0.3);
}

button.options:focus {
  box-shadow: 0 0 0 1px #0a84ff inset,
              0 0 0 1px #0a84ff,
              0 0 0 4px rgba(10, 132, 255, 0.3);
}
